 
    <style>
#header {
    background-color:white;
    color:black;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:white;
    height:1800px;
    width:250px;
    float:left;
    padding:5px; 
}
#section {
    width:1400px;
    float:center;
    padding:10px; 
}
#footer {
    background-color:white;
    color:grey;
    clear:both;
    text-align:center;
    padding:5px; 
}

h1 {color: black;
    text-align:center;}


</style>